@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');

html {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
body {
    margin: 0px;
    background: url(./logos/bg.png);
    background-repeat: repeat;
    background-color: #415156;
}
h1 {
    font-family: 'Fugaz One', cursive;
    font-weight: 500;
    font-size: 50px;
    color: #ffffff;
    text-align: center;
}
h2 {
    font-weight: 500;
    font-size: 30px;
    text-align: center;
    color: #f7f7f7;
    margin-top: -20px;
}
header {
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.95);
    display: grid;
    justify-items: center;
}
nav {
    font-weight: 400;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.95);
}
nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}
nav ul {
    margin-left: -35px;
}
nav li a{
    color: #ffffff;
    font-size: 30px;
    margin-left: 20px;
    margin-right: 20px;
    text-decoration: none;
    transition: all .3s ease;
}
main {
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.95);
    margin-top: 30px;
    display: grid;
    justify-items: center;
}
main h3 {
    color: #ffffff;
    font-size: xx-large;
    text-align: center;
    text-decoration: underline;
}
main span {
    font-weight: 400;
    text-align: center;
    color: #ffffff;
    width: 90%;
    font-size: xx-large;
    margin-bottom: 40px;
}
#other1 {
    display: grid;
    justify-content: center;
}

#other2 {
    display: grid;
    justify-content: center;
}

#yt {
    display: grid;
    justify-content: center;
}

#other1 a img {
    -webkit-filter: invert(1);
    filter: invert(1);
}

#other2 a img {
    -webkit-filter: invert(1);
    filter: invert(1);
}

#yt .big_link img{
    border: .3rem solid rgba(0,0,0,.1);
    margin: 5px;
    border-radius: 10%;
    transition: all .3s ease;
}
#other1 .big_link {

    margin: 5px;
    padding: 5px;
    border-radius: 10%;
    transition: all .3s ease;
}

#other2 .big_link {
    
    margin: 5px;
    padding: 5px;
    border-radius: 10%;
    transition: all .3s ease;
}

.big_link img {
    width: 300px;
    height: 300px;
}
.big_link a{
    width: 240px;
    height: 240px;
}
.twitter {
    background: #55acee;
}
.twitter {
    border: .3rem solid rgba(0,0,0,.1);
}
.twitch {
    border: .3rem solid rgba(0,0,0,.1);
    background-color: #6441a5;
}
.twitch img {
    transform: scale(0.9,0.9);
}
.insta{
    border: .3rem solid rgb(200,30,240);
    background-image:linear-gradient(45deg,#ffd521 0%,#f0000e 33%,#b900b4 66%,#6000c6 100%);
}
.insta img {
    transform: scale(0.9,0.9);
}


#yt .haupt img {
    background-color: #464249;
    border: .3rem solid #464249
}

#yt .trash img {
    background-color: #384b81;
    border: .3rem solid #384b81;
}

#yt .comm img {
    background-color: #000000;
    border: .3rem solid #000000;
}

.steam {
    background-color: black;
}
.reddit {
    background-color: #FF3F18;
    border: .3rem solid rgba(0, 0, 0, 0.24);
}
.github {
    background-color: #24292E;
    border: .3rem solid rgba(0, 0, 0, 0.24);
}
#audio {
    margin-top: -20px;
    margin-bottom: 50px;
    width: calc(100% - 100px);
}